body {
}

h2 {
    font-size:18px;
    margin:1.5em 0 .5em 0;
}

h2.username {
    text-align:center;
    color:#A50535;
}

.header {
    margin-left:300px;
}
.header table {
    height:50px;
}

.logo {
    display:block;
    margin:auto;
    width:90%;
}

.leftcolumn {
position:fixed;left:0px;top:0px;bottom:0px;overflow:auto;width:280px;z-index:50;background:white;padding:10px;
}

.reportarea {
    margin-left:300px;
}

.introtext {
    display:block;
    text-align:center;
    margin-top:100px;
    font-weight:bold;
}

.centereddialog {
    margin-top:150px;
}
.centereddialog > table {
    margin:auto;
}
.centereddialog th {
    font-weight:bold;
}
.centereddialog td {
    padding:5px;
}
