body {
    font-family:Calibri,sans-serif;
}
h2 {
    font-size:18px;
    margin:1.5em 0 .5em 0;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.logo {
    display:block;
    padding:10px 0;
}

.introtext {
    display:block;
    text-align:center;
    margin-top:100px;
    font-weight:bold;
}

body {
    width:1000px;
    margin:auto;
}
.nav > ul {
    margin:0px;
    padding:5px 0px;
    display:inline-block;
}
.nav li {
    padding:0px 12px 0 8px;
    display:inline-block;
    border-right: solid 1px;
}
.nav li:last-child {
    border-right:none;
}

.account {
    float:right;
    color:#ccc;
    font-size:12px;
}
.account ul {
    border:solid 1px #ccc;
    border-top:none;
    margin-left:10px;
}
.account a {
    color:#ccc;
}
.welcome {
    color:#999;
}
.isActive {
    font-weight:bold;
}

.primary {
    border-bottom:solid 1px #ccc;
    text-align:right;
    font-size:18px;
}
.primary li {
    border-right:none;
    text-align:left;
}
.primary a {
    color:#666;
}
.primary li.isActive,
.primary li.isActive a {
    color:#9e0d14;
}
.chzn-container {
    margin-top:-4px;
}

.secondary {
    text-align:right;
    font-size:14px;
    color:#c4660b;
    margin-top:3px;
}
.secondary a {
    color:#c4660b;
}


.centereddialog {
    margin-top:150px;
}
.centereddialog > table {
    margin:auto;
}
.centereddialog th {
    font-weight:bold;
}
.centereddialog td {
    padding:5px;
}
